<link rel='stylesheet' href='css/style.css' />
<header>
  <img class='logo' src='img/chat.png' alt='' />
  <h1>Welcome to iDiscuss Chat App</h1>
  <h1>made by Rosy</h1>
</header>

<main>
  <h2>Username already exits, try again</h2>
  <a href='/login'>
    <button class='login btn'>Try again</button>
  </a>
</main>